body {
  background-color: #f7f7f7;
}

.container {
  padding-top: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.table {
  margin: auto;
  width: 90%;
  max-width: 800px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.table thead th {
  background-color: #41668a;
  color: #fff;
  font-weight: 600;
  text-align: left;
  vertical-align: middle;
  padding: 15px;
}

.table tbody td {
  text-align: left;
  vertical-align: middle;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.table tbody tr:hover {
  background-color: #f8f8f8;
}
